<%- include('layouts/main', { 
  title: 'Admin Dashboard',
  body: `
    <h1>Welcome, Admin!</h1>
    <h3>Kelola User</h3>
    <p><a class="btn btn-primary" href="/users">Go to Users Table</a></p>
  `
}) %>
