.main-content {
  padding: 20px;
  background-color: #f4f6f8;
  min-height: 100vh;
  margin-left: 250px; /* Adjust based on Sidebar width */
}

.period-buttons {
  margin-bottom: 20px;
}

.period-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.period-buttons button.active {
  background-color: #0056b3; /* Tombol yang aktif */
}

.period-buttons button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

input[type="text"] {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table thead {
  background-color: #007bff;
  color: #fff;
  text-align: left;
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table th {
  font-weight: 600;
}

table tr:hover {
  background-color: #f1f1f1;
}

table tbody tr:last-child td {
  border-bottom: none;
}
